<!DOCTYPE html>
<html>
   <head>
      <title>FCC Apis and Microservices Projects</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="container">
        <h2>FCC Apis and Microservices Projects</h2>
        <h3>Projects implemented:</h3>
        <ul>
          <li>Timestamp service</li>
          <li>Request header parser / whoami service</li>
          <li>URL shortener service:
          <form id="urlshortener" action="api/shorturl/new" method="POST">
            <label for="url_input">URL to be shortened:</label>
            <input id="url_input" type="text" name="url" placeholder="e.g. https://www.example.com">
            <input type="submit" value="POST URL">
          </form>
          </li>
        </ul>
      </div>
    </body>
</html>
