/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
  max-width: 960px;
  margin: auto;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
	list-style-position: outside;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}

#urlshortener {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid gray;
  font-size: 0.8em;
  max-width: 500px;
}
#urlshortener > * {
  padding: 5px 10px;
}
#urlshortener input#url_input {
  flex: 1;
}
